In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#import data 
ds= pd.read_csv("../dataset/summer-products-with-rating-and-performance_2020-08.csv")

In [3]:
#print the shape of all data
print(ds.shape)

(1573, 43)

Show the first rows of all dataset

In [4]:
ds.head()

,title,title_orig,price,retail_price,currency_buyer,units_sold,uses_ad_boosts,rating,rating_count,rating_five_count,...,merchant_rating_count,merchant_rating,merchant_id,merchant_has_profile_picture,merchant_profile_picture,product_url,product_picture,product_id,theme,crawl_month
0,2020 Summer Vintage Flamingo Print Pajamas Se...,2020 Summer Vintage Flamingo Print Pajamas Se...,16.00,14,EUR,100,0,3.76,54,26.0,...,568,4.128521,595097d6a26f6e070cb878d1,0,NaN,https://www.wish.com/c/5e9ae51d43d6a96e303acdb0,https://contestimg.wish.com/api/webimage/5e9ae...,5e9ae51d43d6a96e303acdb0,summer,2020-08
1,SSHOUSE Summer Casual Sleeveless Soirée Party ...,Women's Casual Summer Sleeveless Sexy Mini Dress,8.00,22,EUR,20000,1,3.45,6135,2269.0,...,17752,3.899673,56458aa03a698c35c9050988,0,NaN,https://www.wish.com/c/58940d436a0d3d5da4e95a38,https://contestimg.wish.com/api/webimage/58940...,58940d436a0d3d5da4e95a38,summer,2020-08
2,2020 Nouvelle Arrivée Femmes Printemps et Été ...,2020 New Arrival Women Spring and Summer Beach...,8.00,43,EUR,100,0,3.57,14,5.0,...,295,3.989831,5d464a1ffdf7bc44ee933c65,0,NaN,https://www.wish.com/c/5ea10e2c617580260d55310a,https://contestimg.wish.com/api/webimage/5ea10...,5ea10e2c617580260d55310a,summer,2020-08
3,Hot Summer Cool T-shirt pour les femmes Mode T...,Hot Summer Cool T Shirt for Women Fashion Tops...,8.00,8,EUR,5000,1,4.03,579,295.0,...,23832,4.020435,58cfdefdacb37b556efdff7c,0,NaN,https://www.wish.com/c/5cedf17ad1d44c52c59e4aca,https://contestimg.wish.com/api/webimage/5cedf...,5cedf17ad1d44c52c59e4aca,summer,2020-08
4,Femmes Shorts d'été à lacets taille élastique ...,Women Summer Shorts Lace Up Elastic Waistband ...,2.72,3,EUR,100,1,3.10,20,6.0,...,14482,4.001588,5ab3b592c3911a095ad5dadb,0,NaN,https://www.wish.com/c/5ebf5819ebac372b070b0e70,https://contestimg.wish.com/api/webimage/5ebf5...,5ebf5819ebac372b070b0e70,summer,2020-08

In [5]:
#show all columns
print(ds.columns)

Index(['title', 'title_orig', 'price', 'retail_price', 'currency_buyer',
       'units_sold', 'uses_ad_boosts', 'rating', 'rating_count',
       'rating_five_count', 'rating_four_count', 'rating_three_count',
       'rating_two_count', 'rating_one_count', 'badges_count',
       'badge_local_product', 'badge_product_quality', 'badge_fast_shipping',
       'tags', 'product_color', 'product_variation_size_id',
       'product_variation_inventory', 'shipping_option_name',
       'shipping_option_price', 'shipping_is_express', 'countries_shipped_to',
       'inventory_total', 'has_urgency_banner', 'urgency_text',
       'origin_country', 'merchant_title', 'merchant_name',
       'merchant_info_subtitle', 'merchant_rating_count', 'merchant_rating',
       'merchant_id', 'merchant_has_profile_picture',
       'merchant_profile_picture', 'product_url', 'product_picture',
       'product_id', 'theme', 'crawl_month'],
      dtype='object')

# choose relevant features
based on our goals

In [6]:
p_perfomance_df=ds[['product_id','price', 'retail_price',
       'units_sold', 'uses_ad_boosts', 'rating', 'rating_count',
       'rating_five_count', 'rating_four_count', 'rating_three_count',
       'rating_two_count', 'rating_one_count', 'tags', 'product_color','merchant_id','merchant_rating_count', 'merchant_rating','crawl_month']]
p_perfomance_df.head()

,product_id,price,retail_price,units_sold,uses_ad_boosts,rating,rating_count,rating_five_count,rating_four_count,rating_three_count,rating_two_count,rating_one_count,tags,product_color,merchant_id,merchant_rating_count,merchant_rating,crawl_month
0,5e9ae51d43d6a96e303acdb0,16.00,14,100,0,3.76,54,26.0,8.0,10.0,1.0,9.0,"Summer,Fashion,womenunderwearsuit,printedpajam...",white,595097d6a26f6e070cb878d1,568,4.128521,2020-08
1,58940d436a0d3d5da4e95a38,8.00,22,20000,1,3.45,6135,2269.0,1027.0,1118.0,644.0,1077.0,"Mini,womens dresses,Summer,Patchwork,fashion d...",green,56458aa03a698c35c9050988,17752,3.899673,2020-08
2,5ea10e2c617580260d55310a,8.00,43,100,0,3.57,14,5.0,4.0,2.0,0.0,3.0,"Summer,cardigan,women beachwear,chiffon,Sexy w...",leopardprint,5d464a1ffdf7bc44ee933c65,295,3.989831,2020-08
3,5cedf17ad1d44c52c59e4aca,8.00,8,5000,1,4.03,579,295.0,119.0,87.0,42.0,36.0,"Summer,Shorts,Cotton,Cotton T Shirt,Sleeve,pri...",black,58cfdefdacb37b556efdff7c,23832,4.020435,2020-08
4,5ebf5819ebac372b070b0e70,2.72,3,100,1,3.10,20,6.0,4.0,2.0,2.0,6.0,"Summer,Plus Size,Lace,Casual pants,Bottom,pant...",yellow,5ab3b592c3911a095ad5dadb,14482,4.001588,2020-08

# Data preprocessing and data cleaning

In [7]:
#check missing values
p_perfomance_df.isnull().sum()

product_id                0
price                     0
retail_price              0
units_sold                0
uses_ad_boosts            0
rating                    0
rating_count              0
rating_five_count        45
rating_four_count        45
rating_three_count       45
rating_two_count         45
rating_one_count         45
tags                      0
product_color            41
merchant_id               0
merchant_rating_count     0
merchant_rating           0
crawl_month               0
dtype: int64

In [8]:
# its seem that all missing values in rating has rating_count 0
# Filter rows where 'rating_count' is equal to zero
filtered_rating = p_perfomance_df[p_perfomance_df['rating_count'] == 0]
filtered_rating[['rating_count','rating_five_count','rating_four_count','rating_three_count','rating_two_count','rating_one_count']]

,rating_count,rating_five_count,rating_four_count,rating_three_count,rating_two_count,rating_one_count
74,0,NaN,NaN,NaN,NaN,NaN
112,0,NaN,NaN,NaN,NaN,NaN
126,0,NaN,NaN,NaN,NaN,NaN
189,0,NaN,NaN,NaN,NaN,NaN
216,0,NaN,NaN,NaN,NaN,NaN
248,0,NaN,NaN,NaN,NaN,NaN
309,0,NaN,NaN,NaN,NaN,NaN
346,0,NaN,NaN,NaN,NaN,NaN
348,0,NaN,NaN,NaN,NaN,NaN
375,0,NaN,NaN,NaN,NaN,NaN
438,0,NaN,NaN,NaN,NaN,NaN
447,0,NaN,NaN,NaN,NaN,NaN
481,0,NaN,NaN,NaN,NaN,NaN
487,0,NaN,NaN,NaN,NaN,NaN
555,0,NaN,NaN,NaN,NaN,NaN
597,0,NaN,NaN,NaN,NaN,NaN
618,0,NaN,NaN,NaN,NaN,NaN
634,0,NaN,NaN,NaN,NaN,NaN
670,0,NaN,NaN,NaN,NaN,NaN
732,0,NaN,NaN,NaN,NaN,NaN
746,0,NaN,NaN,NaN,NaN,NaN
774,0,NaN,NaN,NaN,NaN,NaN
781,0,NaN,NaN,NaN,NaN,NaN
864,0,NaN,NaN,NaN,NaN,NaN
865,0,NaN,NaN,NaN,NaN,NaN
904,0,NaN,NaN,NaN,NaN,NaN
959,0,NaN,NaN,NaN,NaN,NaN
976,0,NaN,NaN,NaN,NaN,NaN
1094,0,NaN,NaN,NaN,NaN,NaN
1117,0,NaN,NaN,NaN,NaN,NaN
1127,0,NaN,NaN,NaN,NaN,NaN
1148,0,NaN,NaN,NaN,NaN,NaN
1156,0,NaN,NaN,NaN,NaN,NaN
1186,0,NaN,NaN,NaN,NaN,NaN
1190,0,NaN,NaN,NaN,NaN,NaN
1192,0,NaN,NaN,NaN,NaN,NaN
1242,0,NaN,NaN,NaN,NaN,NaN
1245,0,NaN,NaN,NaN,NaN,NaN
1270,0,NaN,NaN,NaN,NaN,NaN
1292,0,NaN,NaN,NaN,NaN,NaN
1355,0,NaN,NaN,NaN,NaN,NaN
1468,0,NaN,NaN,NaN,NaN,NaN
1481,0,NaN,NaN,NaN,NaN,NaN
1488,0,NaN,NaN,NaN,NaN,NaN
1532,0,NaN,NaN,NaN,NaN,NaN

In [9]:
# since the missing value are in rating which is zero we will fill the missing value zero

In [10]:
# Remove extra spaces from column names
p_perfomance_df.columns = p_perfomance_df.columns.str.strip()
columns_to_fill = ['rating_five_count', 'rating_four_count', 'rating_three_count', 'rating_two_count', 'rating_one_count']
p_perfomance_df.loc[:, columns_to_fill] = p_perfomance_df.loc[:, columns_to_fill].fillna(0)
p_perfomance_df.isnull().sum()

product_id                0
price                     0
retail_price              0
units_sold                0
uses_ad_boosts            0
rating                    0
rating_count              0
rating_five_count         0
rating_four_count         0
rating_three_count        0
rating_two_count          0
rating_one_count          0
tags                      0
product_color            41
merchant_id               0
merchant_rating_count     0
merchant_rating           0
crawl_month               0
dtype: int64

In [11]:
mode_product_color = p_perfomance_df['product_color'].mode()[0]  
p_perfomance_df['product_color'].fillna(mode_product_color, inplace=True)
p_perfomance_df.isnull().sum()

C:\Users\roma\AppData\Local\Temp\ipykernel_9420\3877746593.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p_perfomance_df['product_color'].fillna(mode_product_color, inplace=True)

product_id               0
price                    0
retail_price             0
units_sold               0
uses_ad_boosts           0
rating                   0
rating_count             0
rating_five_count        0
rating_four_count        0
rating_three_count       0
rating_two_count         0
rating_one_count         0
tags                     0
product_color            0
merchant_id              0
merchant_rating_count    0
merchant_rating          0
crawl_month              0
dtype: int64

In [12]:
tags_column = 'tags'  

# Combine all tags into a single string
all_tags = ','.join(p_perfomance_df[tags_column])

# Split the tags into individual words
individual_tags = all_tags.split(',')

# Create a DataFrame with the tags
df_tags = pd.DataFrame({tags_column: individual_tags})

# Define category rules based on common themes
category_rules = {
    'Summer': ['Summer'],
    'Fashion': ['Fashion', 'Dress', 'Clothing'],
    'Casual': ['Casual', 'Shirt', 'Shorts'],
    'Print': ['Print', 'Flamingo'],
    'Sleepwear': ['Sleepwear', 'Pajamas', 'Nightwear']
}

def assign_category(tag):
    for category, keywords in category_rules.items():
        if any(keyword.lower() in tag.lower() for keyword in keywords):
            return category
    return 'Other'

p_perfomance_df['category'] = p_perfomance_df[tags_column].apply(assign_category)

p_perfomance_df.head()

C:\Users\roma\AppData\Local\Temp\ipykernel_9420\3246210574.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p_perfomance_df['category'] = p_perfomance_df[tags_column].apply(assign_category)

,product_id,price,retail_price,units_sold,uses_ad_boosts,rating,rating_count,rating_five_count,rating_four_count,rating_three_count,rating_two_count,rating_one_count,tags,product_color,merchant_id,merchant_rating_count,merchant_rating,crawl_month,category
0,5e9ae51d43d6a96e303acdb0,16.00,14,100,0,3.76,54,26.0,8.0,10.0,1.0,9.0,"Summer,Fashion,womenunderwearsuit,printedpajam...",white,595097d6a26f6e070cb878d1,568,4.128521,2020-08,Summer
1,58940d436a0d3d5da4e95a38,8.00,22,20000,1,3.45,6135,2269.0,1027.0,1118.0,644.0,1077.0,"Mini,womens dresses,Summer,Patchwork,fashion d...",green,56458aa03a698c35c9050988,17752,3.899673,2020-08,Summer
2,5ea10e2c617580260d55310a,8.00,43,100,0,3.57,14,5.0,4.0,2.0,0.0,3.0,"Summer,cardigan,women beachwear,chiffon,Sexy w...",leopardprint,5d464a1ffdf7bc44ee933c65,295,3.989831,2020-08,Summer
3,5cedf17ad1d44c52c59e4aca,8.00,8,5000,1,4.03,579,295.0,119.0,87.0,42.0,36.0,"Summer,Shorts,Cotton,Cotton T Shirt,Sleeve,pri...",black,58cfdefdacb37b556efdff7c,23832,4.020435,2020-08,Summer
4,5ebf5819ebac372b070b0e70,2.72,3,100,1,3.10,20,6.0,4.0,2.0,2.0,6.0,"Summer,Plus Size,Lace,Casual pants,Bottom,pant...",yellow,5ab3b592c3911a095ad5dadb,14482,4.001588,2020-08,Summer

In [13]:
print(p_perfomance_df['category'].unique())

['Summer' 'Fashion' 'Other' 'Casual']

In [14]:
p_perfomance_df.head()

,product_id,price,retail_price,units_sold,uses_ad_boosts,rating,rating_count,rating_five_count,rating_four_count,rating_three_count,rating_two_count,rating_one_count,tags,product_color,merchant_id,merchant_rating_count,merchant_rating,crawl_month,category
0,5e9ae51d43d6a96e303acdb0,16.00,14,100,0,3.76,54,26.0,8.0,10.0,1.0,9.0,"Summer,Fashion,womenunderwearsuit,printedpajam...",white,595097d6a26f6e070cb878d1,568,4.128521,2020-08,Summer
1,58940d436a0d3d5da4e95a38,8.00,22,20000,1,3.45,6135,2269.0,1027.0,1118.0,644.0,1077.0,"Mini,womens dresses,Summer,Patchwork,fashion d...",green,56458aa03a698c35c9050988,17752,3.899673,2020-08,Summer
2,5ea10e2c617580260d55310a,8.00,43,100,0,3.57,14,5.0,4.0,2.0,0.0,3.0,"Summer,cardigan,women beachwear,chiffon,Sexy w...",leopardprint,5d464a1ffdf7bc44ee933c65,295,3.989831,2020-08,Summer
3,5cedf17ad1d44c52c59e4aca,8.00,8,5000,1,4.03,579,295.0,119.0,87.0,42.0,36.0,"Summer,Shorts,Cotton,Cotton T Shirt,Sleeve,pri...",black,58cfdefdacb37b556efdff7c,23832,4.020435,2020-08,Summer
4,5ebf5819ebac372b070b0e70,2.72,3,100,1,3.10,20,6.0,4.0,2.0,2.0,6.0,"Summer,Plus Size,Lace,Casual pants,Bottom,pant...",yellow,5ab3b592c3911a095ad5dadb,14482,4.001588,2020-08,Summer

In [15]:
p_perfomance_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1573 entries, 0 to 1572
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   product_id             1573 non-null   object
 1   price                  1573 non-null   float64
 2   retail_price           1573 non-null   int64
 3   units_sold             1573 non-null   int64
 4   uses_ad_boosts         1573 non-null   int64
 5   rating                 1573 non-null   float64
 6   rating_count           1573 non-null   int64
 7   rating_five_count      1573 non-null   float64
 8   rating_four_count      1573 non-null   float64
 9   rating_three_count     1573 non-null   float64
 10  rating_two_count       1573 non-null   float64
 11  rating_one_count       1573 non-null   float64
 12  tags                   1573 non-null   object
 13  product_color          1573 non-null   object
 14  merchant_id            1573 non-null   object
 15  merchant_rating_count  1573 non-null   int64
 16  merchant_rating        1573 non-null   float64
 17  crawl_month            1573 non-null   object
 18  category               1573 non-null   object
dtypes: float64(8), int64(5), object(6)
memory usage: 233.6+ KB

In [16]:
p_perfomance_df.to_csv('p_perfomance_df.csv')